<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" th:href="@{../style.css}">
</head>
<body>
    <div class="container">
    
    <div class="message" th:if="${message != null}">
    
    [[${message}]]
    
    </div>
    
        <h2> REGISTRATION FORM </h2>
        
        <form id="registrationForm" th:action="@{/registration}" method="post" th:object="${user}" role="form">
        
            <label for="email">ENTER YOUR EMAIL  </label>
            <input type="email" id="email" name="email" placeholder="enter your email" required>
            <span class="error" id="emailError"></span>
            
            <label for="contactNumber">ENTER YOUR CONTACT NUMBER  </label>
            <input type="tel" id="phoneNumber" name="phoneNumber" placeholder="enter your contact" pattern="[0-9]{10}" required>
            <span class="error" id="phoneNumberError"></span>

            <label for="password">ENTER YOUR PASSWORD  </label>
            <input type="password" id="password" name="password" placeholder="enter your password" required>
            <span class="error" id="passwordError"></span>

            

            <input type="submit" value="REGISTER">
        </form>
    </div>

    <!--  <script>
        document.getElementById('registrationForm').addEventListener('submit', function(event) {
            var email = document.getElementById('email').value;
            var password = document.getElementById('password').value;
            var contactNumber = document.getElementById('contactNumber').value;

            // Email validation (simple check for '@' symbol)
            if (email.indexOf('@') === -1) {
                document.getElementById('emailError').innerHTML = 'Invalid email address';
                event.preventDefault();
            } else {
                document.getElementById('emailError').innerHTML = '';
            }

            // Password validation (at least 8 characters)
            if (password.length < 8) {
                document.getElementById('passwordError').innerHTML = 'Password must be at least 8 characters';
                event.preventDefault();
            } else {
                document.getElementById('passwordError').innerHTML = '';
            }

            // Contact number validation (10 digits)
            if (!/^\d{10}$/.test(contactNumber)) {
                document.getElementById('contactNumberError').innerHTML = 'Invalid contact number';
                event.preventDefault();
            } else {
                document.getElementById('contactNumberError').innerHTML = '';
            }
        });
    </script> -->
</body>
</html>
